.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.clear-fix {
    clear: both;
}

/* Header */
.header {
    width: 100%;
    height: 36px;
    background-color: #1B0F1C;
}

.header-logo {
    margin-top: 6px;
}

.menu-item {
    float: right;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;
    padding-top: 5px;
}

.loading {
    height: 2vw;
    width: 100%;
    background: linear-gradient(100deg, #c7c5c3, #5f5f5f, #c7c5c3);
    background-size: 200% 200%;
    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
    0% {
        background-position: 10% 0%
    }
    50% {
        background-position: 91% 100%
    }
    100% {
        background-position: 10% 0%
    }
}

@-moz-keyframes Animation {
    0% {
        background-position: 10% 0%
    }
    50% {
        background-position: 91% 100%
    }
    100% {
        background-position: 10% 0%
    }
}

@keyframes Animation {
    0% {
        background-position: 10% 0%
    }
    50% {
        background-position: 91% 100%
    }
    100% {
        background-position: 10% 0%
    }
}

/* !Header */

/* Box Country */
.box-country {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    background-color: #ddd;
    opacity: 0.7;
    transition: 0.5s;
}

.box-country:hover {
    opacity: 1;
}

.box-country p {
    color: #000;
    font-size: 16px;
}

.country-flag {
    width: 15vw !important;
    height: 10vw !important;
}

.country-flag-check {
    width: 3vw !important;
    height: 2vw !important;
}

.country-flag-news {
    width: 2vw !important;
    height: 1.5vw !important;
    float: right;
    margin-right: 5px;
    padding-bottom: 3px;
}

/* !Box Country */


/* Box News */
.row-news {
    display: table;
    width: 100%;
}

.col-news {
    display: table-cell;
    margin-bottom: 15px;
}

.box-news {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: #000;
    opacity: 0.7;
    transition: 0.5s;
}

.box-news:hover {
    opacity: 1;
}

.news-img {
    width: 25vw;
}

.date-news {
    float: right;
    margin-right: 20px;
    font-size: 14px;
}

.title-news {
    font-size: 16px;
    padding: 10px 15px;
}

.description-news {
    padding: 10px 15px;
    display: block;
}

.author-news {
    float: left;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

/* !Box News */

/* Footer */
.footer {
    background: #8b0027;
    min-height: 6rem;
    width: 100%;
    bottom: 0;
    clear: both;
    margin: 0;
}

/* !Footer */

@media (max-width: 599px) {
    .loading {
        height: 4vw;
    }

    .country-flag {
        width: 25vw !important;
        height: 20vw !important;
    }

    .country-flag-check {
        width: 5vw !important;
        height: 4vw !important;
    }

    .news-img {
        width: 40vw;
    }
}

@media (max-width: 299px) {
    .country-flag-check {
        width: 10vw !important;
        height: 8vw !important;
    }
}